body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

nav {
  background-color: rgba(27, 32, 38, .9);
}

nav a {
  color: rgba(255, 255, 255, .8);
}

div.welcome {
  background-color: rgba(108, 76, 230, 1) !important;
  border-radius: 0;
}

div.welcome h1 {
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(63, 49, 115, .5);
}

div.welcome p {
  color: rgba(255, 255, 255, .8);
  text-shadow: 2px 2px 2px rgba(63, 49, 115, .5);
}

label {
  width: 5em;
  margin-right: .5em;
  color: rgba(145, 50, 87, 1);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: left;
}

input {
  width: 18em;
  height: 3em;
  padding-left: .3em;
  font-family: Lucida Console, Courier, monospace;
  font-size: .75em;
}

.btn {
  position: relative;
  right: 2.5em;
  padding: 0 0.4em;
}

footer {
  margin: 2em;
}
